    <h1 class="mt-4 text-center">All Blog Posts</h1>
    <% @posts.each do |post| %>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-8">
                    <div class="card text-center mt-2 shadow mb-5 bg-white rounded">
                        <div class="card-header font-italic">
                            By <%= post.user.username if post.user %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
                            <p class="card-text"><%= truncate(post.description, length: 100) %></p>
                            <%= link_to 'Show', post_path(post), class: "btn btn-outline-primary" %>
                            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-info" %>
                            <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
                        </div>
                        <div class="card-footer text-muted">
                            <small> created <%=time_ago_in_words(post.created_at) %> ago, updated <%=time_ago_in_words(post.updated_at) %> ago</small>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    <% end %> 
